* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo img{
    width: 75px;
    height: 75px;
    margin-left: 30px;
}


.navbar a{
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}

.navbar a:hover{
    background: #3f3f3f;
    color: rgb(162, 0, 255);
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 60vh !important;
    background: url(img/FONDO.jpg) no-repeat center;
    background-size: cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 100px;
}

.imagen{
    size: 10%;
    
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #9c27b0;
    color: #fff;
    text-decoration: none;
    background: #9c27b0;
}

.btn:hover {
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 10px;
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 30px;
    background: #1f1d1d;
}

.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #9c27b0;
    size: 2rem;
    margin: 1rem 0;
}

.box-container .box h3 {
    font-size: 20px;
    color: #9c27b0;
}

.box-container .box p {
    padding: 0 15px;
    font-size: 16px;
}

.container {
        font-family: Arial, sans-serif;
        display: flex;
        padding: 10px 40px;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        color: #171717;
}

.product {
    padding: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #171717;
}

.product h2 {
    color: #fff;
    font-size: 1.5em;
    margin: 0 0 10px;
    border: 2px solid #9c27b0;
}

.product p {
    font-size: 1em;
    margin: 0 0 00px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.about {
    background: url(img/FONDO.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.contact-info {
    padding-top: 35px;
    background: #171717;
    padding-bottom: 0%;
}

.contact-info .contact-details {
    display: flex;
}

.contact-info .contact-details img {
    height: 30px;
    margin-right: -90px;
    
}

.map {
    background:#171717;
    margin-bottom: 25px;
}

@media(max-width:768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau{
        height: 120vh;
    }

    .navbar{
        display: none;
    }

    .container {
        width: 180%;
    }

    .container img{
        max-width: 100%;
        height: auto;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-item {
        flex: 1;
        min-width: 200px;
    }

}
