
body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #171717;
    padding: 30px;
    border: 3px solid #9001c0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    border: 3px solid #9001c0;
}

.form-group {
    margin-bottom: 15px;
}

label {
    margin: 20px auto;

    display: grid;
    grid-template-areas: "input";
}

input{
    grid-area: input;
    width: 260px;
    font: inherit;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 9px 1.5rem;
}

.label_name {
    grid-area: input;

    z-index: 100;
    width: max-content;
    margin-left: 1rem;
    padding: 0 .5rem;
    align-self: center;
    height: 100%;
    display: flex;
    align-items: center;

    transition: transform .2s;
    transform-origin: center left;
}

.input:focus + .label_name,
.input:not(:placeholder-shown) + .label_name
{
    transform: translateY(-50%) scale(.7);
    background-color: white;
}

input[type="submit"] {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px;
    padding-right: 0px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    color: #28a745;
}
